/*
<div className="cards">
 <div className="card">
  <img src={props.imgsrc} alt="myPic" className="card_img" />
  <div className="card_info">
    <span className="card_category">{props.title}</span>
    <h3 className="card_title"> {props.sname} </h3>
    <a href={props.link} target="_blank">
      <button>Watch Now</button>
    </a>
  </div>
</div>
</div> */

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}

#root{
    background-color: hsl(195, 53%, 92%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.cards{
    /* display: grid;
    place-items: center; */
    margin: 4rem 4rem;
    /* max-width:max-content; */
    /* align-self: flex-start; */
}
.heading_style{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    background-color: #fff;
    width: 100%;
    padding: 3rem 0;
    text-transform: uppercase;
    color: #868686;
    font-weight: 500;
    letter-spacing: .2rem;
    word-spacing: .4rem;
    font-size: 2.5rem;
}

.card{
    width: 18rem;
    border: 1px solid #ecf0f1;
    border-radius: 1rem;
    background-color: #fff;
    box-shadow: 0px 2px 2px hsl(204, 8%, 76%,0.2),
    0px 4px 4px hsl(204, 8%, 76%,0.4);

}
.card_img{
    width: 100%;
    height: 18rem;
    border-radius:  1rem 1rem 0 0;
}

.card_info{
    padding: .6rem 0 0 1.2rem;
}

.card_category{
    text-transform: uppercase;
    color: #bdc3c7;
    letter-spacing: 0.1rem;
    font-size: .8rem;

}

.card_title{
    text-transform: capitalize;
    font-weight: bold;
    font-size: 1.3rem;
    margin-top: .4rem;
}

button{
    margin: .4rem 0;
    width: 8.5rem;
    height: 2rem;
    font-size: 1rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
    border: .1rem solid #000;
    border-radius: none;
    color: #bdc3c7;
    font-weight: bold;
    cursor: pointer;
}

.card:hover{
    transform: scale(1.05);
    box-shadow: 0px 7px 5px rgb(0, 0, 0,0.1),
    0px 4px 10px rgb(0, 0, 0,0.2),
    0px 3px 12px rgb(0, 0, 0,0.25);

    transition: .5s;
}