*{margin: 0;padding: 0;box-sizing: border-box;}
/* .heading{
    margin-top: 50px;
    color:#fa9191;
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;
    font-family: 'Josefin Sans', sans-serif;
    text-shadow: 0px 2px 4px #ffe9c5;
} */
body{
    width: 100vw;
    height: 100vh;
    display : grid;
    place-items :center;
    background-color: rgb(159, 255, 250,0.7);
}

.gallary{
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 300px;
    margin: 50px auto auto;
}

.img{
    margin: 2px;
    border: 1px solid hsl(0, 0%, 50%,0.5);
    padding: 5px;
    width: 250px;
    height: 300px;
    border-radius: 5px;
}
